body header,
h1 {
  text-align: center;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 1.4em;
  background-color: blueviolet;
  color: whitesmoke;
  text-align: auto;
  text-justify: inter-word;
  padding: 1.5em;

}

#postman {
  display: block;
  width: 82%;
  margin: 0 auto;
}

a:link {
  background-color: yellow;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
}